.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

  span {
    margin-left: 1em;
    margin-right: 1em;
  }
}