.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #2d3137;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;

  h1 {
    color: white;
  }

  span {
    display: flex;
    align-items: center;
    color: white;

    p {
      display: inline;
    }

    #gamer-tag {
      margin: 0 5px 0 3px;
    }
  }
}