.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  span {
    display: flex;
    align-items: center;

    md-switch {
      display: inline;
    }

    #gamer-tag {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}