/* Local Variables:     */
/* css-indent-offset: 2 */
/* End:                 */

.ng-hide {
  display: none;
}

.total {
  font-weight: bold;
}

.content {
  padding-top: 62px; // same as header height

  .column-heading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .column-entry {
    text-align: center;
  }

  .striped {
    background-color: #DCDCDC;
  }

  .player-aliases {
    @extend .column-heading;
  }

  .player-raids {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    span + span {
      font-weight: bold;
      margin-left: 10px;
    }
  }
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  margin: 0;
  padding: 0;

  h1 {
    font-size: 2em;
  }

  a, div, input, span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    h1 {
      font-size: 1.5em;
    }

    a, div, input, span {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    h1 {
      font-size: 1em;
    }

    a, div, input, span {
      font-size: 9px;
    }
  }
}

@media only screen and (max-width: 320px) {
  body {
    h1 {
      font-size: 1em;
    }

    a, div, input, span {
      font-size: 7px;
    }
  }
}