/* Local Variables:     */
/* css-indent-offset: 2 */
/* End:                 */

.ng-hide {
  display: none;
}

.total {
  font-weight: bold;
}

.content {
  padding-top: 62px; // same as header height

  .column-heading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .column-entry {
    text-align: center;
  }

  .striped {
    background-color: #DCDCDC;
  }

  .player-aliases {
    @extend .column-heading;

    .btn {
      vertical-align: text-bottom;
    }
  }

  .player-raids {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    span + span {
      font-weight: bold;
      margin-left: 10px;
    }
  }
}

.problematic-url {
  padding-top: 124px; // header height x 2

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  margin: 0;
  padding: 0;

  h1 {
    font-size: 2em;
  }

  a, div, input, span, .btn {
    font-size: 14px;
  }
}

.btn {
  background-color: white;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: -.5em;
    background-repeat: repeat-x;
    border-color: rgba(27,31,35,0.35);
    text-decoration: none;
  }

  &:active {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
  }
}

@media only screen and (min-width: 800px) {
  #player-destiny2 {
    input {
      width: 260px;
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    h1 {
      font-size: 1.5em;
    }

    a, div, input, span, .btn {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    h1 {
      font-size: 1em;
    }

    a, div, input, span, .btn {
      font-size: 9px;
    }
  }
}

@media only screen and (max-width: 320px) {
  body {
    h1 {
      font-size: 1em;
    }

    a, div, input, span, .btn {
      font-size: 7px;
    }
  }
}