<span>
  <div id="platform-toggle">
    <p translate="{{'PlayStation.Service'}}"></p>
    <label class="switch">
      <input ng-model="vm.platform" ng-change="vm.toggle(vm.platform)" type="checkbox">
      <div class="slider round"></div>
    </label>
    <p translate="{{'Xbox.Service'}}"></p>
  </div>
  <input id="gamer-tag" type="text" ng-model="vm.gamertag" ng-keyup="vm.keyup($event)" translate-attr="{placeholder: (vm.platform ? 'Xbox.Player' : 'PlayStation.Player')}" maxlength="64" ng-trim="false">
  <span id="submit" ng-click="vm.add()"><i class="fa fa-search"></i></span>
</span>